$border-color: #808080;

table {
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color;
  border-top: none;
  border-spacing: 0;
  width: fit-content;
  margin-top: 0;
  padding-top: 0;
}

tr {
  border-bottom: 1px solid $border-color;
}

td, th {
  width: 200px;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  border-right: 1px solid $border-color;
  height: 30px;
  padding: 5px 0;

  &:last-child {
    border: 0
  }
}

header {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  margin-bottom: 0;
  padding-bottom: 0;
  border-right: 1px solid $border-color;
  border-top: 1px solid $border-color;
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $border-color;
  font-family: 'Helvetica', sans-serif;
  padding-top: 5px;
}
